<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3 text-center">
                    <h5 class="text-center text-info">Agregar Usuario</h5>
                </div>
                <form [formGroup]="formulario" (ngSubmit)="enviar()">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" formControlName="passw">
                        <label for="password">Password</label>
                        <span class="form-text text-danger" *ngIf="validarCampo('passw')">
                            {{ formulario.controls['passw'].errors | json }}</span>


                    </div>

                    <div class="form-floating mb-3">

                        <input type="text" class="form-control" id="nombre1" formControlName="name_one">
                        <label for="nombre1">Primer Nombre</label>
                        <span class="form-text text-danger" *ngIf="validarCampo('name_one')">
                            {{ formulario.controls['name_one'].errors | json }}</span>

                    </div>

                    <div class="form-floating mb-3">

                        <input type="text" class="form-control" id="nombre2" aria-describedby="nombre2Help"
                            formControlName="name_others">
                        <label for="nombre2">Otro Nombre</label>

                        <span class="form-text text-danger" *ngIf="validarCampo('name_others')">
                            {{ formulario.controls['name_others'].errors | json }}</span>

                    </div>
                    <div class="form-floating mb-3">

                        <input type="text" class="form-control" id="apellido1" formControlName="last_name_one">
                        <label for="apellido1" class="form-label">Primer Apellido</label>

                        <span class="form-text text-danger" *ngIf="validarCampo('last_name_one')">
                            {{ formulario.controls['last_name_one'].errors | json }}</span>

                    </div>

                    <div class="form-floating mb-3">

                        <input type="text" class="form-control" id="apellido2" formControlName="last_name_two">
                        <label for="apellido2" class="form-label">Segundo Apellido</label>

                        <span class="form-text text-danger" *ngIf="validarCampo('last_name_two')">
                            {{ formulario.controls['last_name_two'].errors | json }}</span>

                    </div>

                    <div class="form-floating mb-3">

                        <select class="form-select" aria-label="Selecione Pais" formControlName="country">
                            <option value="cop">Colombia</option>
                            <option value="usa">Usa</option>
                        </select>
                        <label for="identificacion" class="form-label">Selecione Pais</label>
                        <span class="form-text text-danger" *ngIf="validarCampo('country')">
                            {{ formulario.controls['country'].errors | json }}</span>


                    </div>

                    <div class="form-floating mb-3">

                        <select class="form-select" aria-label="Selecione Pais" formControlName="identification">
                            <option value="Cédula de Extranjería">Cédula de Extranjería</option>
                            <option value="Cédula de Ciudadanía">Cédula de Ciudadanía'</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="Permiso Especial">Permiso Especial</option>
                        </select>
                        <label for="identificacion" class="form-label">Selecione tipo de identificacion</label>
                        <span class="form-text text-danger" *ngIf="validarCampo('identification')">
                            {{ formulario.controls['identification'].errors | json }}</span>

                    </div>

                    <div class="form-floating mb-3">

                        <input type="text" class="form-control" id="identificacion"
                            aria-describedby="identificacionHelp" formControlName="numId">
                        <label for="identificacion" class="form-label">Ingrese identificacion</label>
                        <span class="form-text text-danger" *ngIf="validarCampo('numId')">
                            {{ formulario.controls['numId'].errors | json }}</span>



                    </div>

                    <button type="submit" *ngIf="!edit" class="btn btn-primary">Guardar</button>
                    <button type="submit" *ngIf="edit" class="btn btn-warning">Editar</button>
                </form>
            </div>
        </div>
        <div class="col-md-8 mt-5">
            <h5 class="text-success">Lista de Usuarios</h5>
            <div class="card p-3">
                <div class="card-body">
                    <input class="form-control mt-2 mb-2" type="text" placeholder="Search" [(ngModel)]="searchText" />
                    <table class="table table-striped table-hover">

                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nmbres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Email</th>
                                <th scope="col">Pais</th>
                                <th scope="col">Tipo Doc</th>
                                <th scope="col"># Doc</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let user of users | filter:searchText | paginate: { itemsPerPage: 10, currentPage: page }">
                                <td>{{user.user_id}}</td>
                                <td>{{user.name_one}} {{user.name_others}}</td>
                                <td>{{user.last_name_one}} {{user.last_name_two}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.country}}</td>
                                <td>{{user.identification}}</td>
                                <td>{{user.numId}}</td>
                                <td>{{user.create_at}}</td>
                                <td>
                                    <button class="btn btn-outline-danger"
                                        (click)="deleteUser(user.user_id)">Delete</button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-warning" (click)="editar(user)">Editar</button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-success"
                                        routerLink="/register/{{user.user_id}}">Entrada</button>
                                </td>


                            </tr>

                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>

        </div>

    </div>
</div>