<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3 text-center">
                    <h5 class="text-center text-info">Agregar Entrada y Salida</h5>
                </div>
                <form [formGroup]="formulario" (ngSubmit)="enviar()">
                    <div class="form-floating mb-3">
                        <input type="datetime-local" class="form-control" id="entrada" formControlName="entry">
                        <label for="entrada">Entrada</label>
                        <span class="form-text text-danger" *ngIf="validarCampo('entry')">
                            {{ formulario.controls['entry'].errors | json }}</span>



                    </div>

                    <div class="form-floating mb-3">

                        <input type="datetime-local" class="form-control" id="salida" formControlName="leave">
                        <label for="salida">Salida</label>


                    </div>



                    <div class="form-floating mb-3">

                        <select class="form-select" aria-label="Selecione Area" formControlName="area">
                            <option value="Administración">Administración</option>
                            <option value="Financiera">Financiera</option>
                            <option value="Compras">Compras</option>
                            <option value="Infraestructura">Infraestructura</option>
                            <option value="Operación">Operación</option>
                            <option value="Talento Humano">Talento Humano</option>
                            <option value="Servicios Varios">Servicios Varios</option>
                        </select>
                        <label for="identificacion" class="form-label">Selecione Area</label>

                    </div>


                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <!-- <button type="submit" *ngIf="edit" class="btn btn-warning">Editar</button> -->
                </form>
            </div>

        </div>
        <div class="col-md-8 mt-5">
            <h5 class="text-success">Lista de Entradas y Salidas</h5>
            <div class="card p-3">
                <div class="card-body">
                    <table class="table table-striped table-hover">

                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Area</th>
                                <th scope="col">Creado</th>
                                <th scope="col">Entrada</th>
                                <th scope="col">Salida</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let registro of registros">
                                <td>{{registro.round_id}}</td>
                                <td>{{registro.area}}</td>
                                <td>{{registro.create_at}}</td>
                                <td>{{registro.entry}}</td>
                                <td>{{registro.leave }}</td>

                                <td>
                                    <button class="btn btn-outline-danger"
                                        (click)="deleteRegister(registro.round_id!)">Delete</button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-success" routerLink="/user">Usuario</button>
                                </td>


                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>